In [38]:
class Input:
    def __init__(self, stName="", stId="", stDob="", courses=""):
        self.stName   = stName
        self.stId    = stId
        self.stDob    = stDob
        self.courses = courses
        self.student_list = []

    def inputSt(self, name, stId, stDob, courses):
        st = Input(name, stId, stDob, courses)
        self.student_list.append(st)

    def deleteSt(self, name):
        for i in range(len(self.student_list)):
            if name == self.student_list[i].stName:
                print(f'student {name} is deleted')
                del self.student_list[i]

In [39]:
class Output:
    def __init__(self, student_list=''):
        self.student_list = student_list

    def listSt(self, student_list):
        for i in student_list:
            print(f"Name: {i.stName}")
            print(f"Id: {i.stId}")
            print(f"Date Of Birth: {i.stDob}")
            for j in range(len(i.courses)):
                print(f"Marks of {i.courses[j][0]} :", i.courses[j][1])
            print("************************************")

In [42]:
class domain:
    def __init__(self):
        pass
    def execute(self):
        st = Input('' ,'', '' ,  0)
        st.inputSt('dat', 'bi9-066', '2000', (('Advanced Programming ','15'), ('French ','17'), ('Singal ','18')))
        st.inputSt('Aiden', 'bi10-124', '2001', (('Advanced Programming ','17.5'),('French ','15.25'), ('Singal ','14.25')) )
        st.inputSt('Na', 'bi10-010', '2001', (('Advanced Programming','16.75'),('French','18.04'), ('Signal', '20')) )
        
        display = Output(None)
        display.listSt(st.student_list)

In [43]:
if __name__ == "__main__":
    main = domain()
    main.execute()

Name: Aiden
Id: bi10-124
Date Of Birth: 2001
Marks of Advanced Programming  : 17.5
Marks of French  : 15.25
Marks of Singal  : 14.25
Marks of Basic Database : 17.25
************************************
Name: Na
Id: bi10-010
Date Of Birth: 2001
Marks of Advanced Programming : 16.75
Marks of Chemistry : 12.25
Marks of Web Dev : 19
************************************

In [36]:
obj = Input('' ,'', '' ,  0)
obj.inputSt('Aiden', 'bi10-124', '2001', (('Advanced Programming ','17.5'),('French ','15.25'), ('Singal ','14.25'), ('Basic Database','17.25')) )
obj.inputSt('Na', 'bi10-010', '2001', (('Advanced Programming','16.75'),('Chemistry','12.25'), ('Web Dev', '19')) )

In [37]:
display = Output(None)
display.listSt(obj.student_list)

Name: Aiden
Id: bi10-124
Date Of Birth: 2001
Marks of Advanced Programming  : 17.5
Marks of French  : 15.25
Marks of Singal  : 14.25
Marks of Basic Database : 17.25
************************************
Name: Na
Id: bi10-010
Date Of Birth: 2001
Marks of Advanced Programming : 16.75
Marks of Chemistry : 12.25
Marks of Web Dev : 19
************************************