In [1]:
student_list = []
course_list = []

def input_function():
    stNum = input("Number of student ")
    for i in range(int(stNum)):
        stId = input("Student id ")
        stName = input("Student name ")
        stDob = input("Student dob ")
        student_list.append({'Student name': stName, 'Student id': stId, 'Student DOB': stDob})
        
    courseNum = input("Number of course ")
    for i in range(int(courseNum)):
        courseId = input("Course id ")
        courseName = input("Course name ")
        course_list.append({'Course name': courseName, 'Course id': courseId})

In [2]:
input_function()

Number of student 2
Student id 066
Student name dat
Student dob 19-11
Student id 124
Student name aiden
Student dob 14-12
Number of course 3
Course id APP
Course name python
Course id DSP
Course name Signal
Course id MAT
Course name math

In [9]:
student_list[0]['course'] = course_list[0]['Course name']

In [10]:
student_list

[{'Student name': 'dat',
  'Student id': '066',
  'Student DOB': '19-11',
  'course': 'python'},
 {'Student name': 'aiden', 'Student id': '124', 'Student DOB': '14-12'}]

In [4]:
course_list

[{'Course name': 'python', 'Course id': 'APP'},
 {'Course name': 'Signal', 'Course id': 'DSP'},
 {'Course name': 'math', 'Course id': 'MAT'}]

In [13]:
for i in enumerate(student_list):
    print(i)

(0, {'Student name': 'dat', 'Student id': '066', 'Student DOB': '19-11', 'course': 'python'})
(1, {'Student name': 'aiden', 'Student id': '124', 'Student DOB': '14-12'})